// Breakpoints
$large: 80rem;

// Palette
$root: #D9A521;
$bright: #D9CB2B;
$deep: #D97416;
$complement: #420BD9;
// $countercomplement: #36B7D9;

// Theme
$background: #242228;
$text: lighten($bright, 40%);
$highlight: lighten($root, 30%);
$primary: $root;
// $secondary: $countercomplement;
$back-highlight: darken($complement, 25%);
$top-color: $bright;
$bottom-color: $root;

body {
  background: $background;
  color: $text;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: $primary;
}

strong {
  color: $highlight;
}

@mixin break($property, $mobile, $desktop) {
  #{$property}: $mobile;

  @media(min-width: $large) {
    #{$property}: $desktop;
  }
}

// composition
.hero-column {
  margin: 0 auto;
  text-align: center;
  padding: 2em;

<<<<<<< 35c5a357c309c5a54bb1658a27c5b9f657b07cb6
  @include break(max-width, 25em, 40em);
=======
  @include break(max-width, 20rem, 40rem);
>>>>>>> Add basic styling
}

main {
  margin: 0 auto;

<<<<<<< 35c5a357c309c5a54bb1658a27c5b9f657b07cb6
  @include break(max-width, 40em, 60em);
=======
  @include break(max-width, 40rem, 60rem);
>>>>>>> Add basic styling
}

// utility
.sepia {
  filter: contrast(0.5) sepia();
}

.pad-top {
  padding-top: 1em;
}

// block
.search-bar {
  background: $back-highlight;
  font-size: xx-large;
<<<<<<< 35c5a357c309c5a54bb1658a27c5b9f657b07cb6
  padding: 0.25em 0.5em;
=======
  padding: 0.5rem 1rem;
>>>>>>> Add basic styling
  border-radius: 9999px;
  border: 4px solid $top-color;
  border-bottom-color: $bottom-color;
  border-right-color: $bottom-color;
  display: flex;

  > input {
<<<<<<< 35c5a357c309c5a54bb1658a27c5b9f657b07cb6
    margin-left: 0.5em;
    border-radius: 0.5em;
    min-width: 4em;
=======
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    min-width: 4rem;
>>>>>>> Add basic styling
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: xx-large;
    border: none;
    outline: none;
    background: transparent;
    color: $text;
  }
}
